body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 49px;
}

.main-name {
    color: red;
}

.section-css {
    display : flex;
    margin-bottom: 100px;
}
.half-width { width: 48%;
    padding-left: 5%;
}
.half-width img{
    width: 50%;
    position: center;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.flexstyle {
    display: flex;
}

.developer {
    box-shadow: 10px 10px 10px gray;
width: 40%;
margin-left: 5%;
margin-right: 5%;
padding-left: 10px;
border-radius: 5px;
margin-bottom: 30px;

}
#left{
    border-left: 7px solid;
    border-image: linear-gradient(red,black);
    border-image-slice: 1;
}
#right{
    border-left: 7px solid;
    border-image: linear-gradient( gray, tomato);
    border-image-slice: 1;
}
.developer h1 {
    font-size: 30px;
}
.flexstyle {
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
}

footer {
    text-align: center;
    color: red;
}